@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  font-family: 'Courier New', Courier, monospace;
} */

/* Video play button style */
.v-icon {
  color: #fff;
  font-size: 50px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.v-icon:before {
  content: "";
  position: absolute;
  border: 10px solid #e5a84f;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}
.v-icon:after {
  content: "";
  position: absolute;
  border: 5px solid #fff;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  animation: animated 1.5s linear infinite;
  opacity: 0;
  animation-delay: 0.6s;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes animated {
  0% {
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
  }
}

/* animate-opacityAnimation */
.animate-opacityAnimation {
  animation: opacityAnimation 1.5s linear infinite;
}

@keyframes opacityAnimation {
  0%,
  100% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
}

/* Scrollbar css */
::-webkit-scrollbar {
  background-color: #000000;
  width: 10px;
}

/* ::-webkit-scrollbar-track {
  background-color: blue;
} */

::-webkit-scrollbar-thumb {
  background-color: blue;
  height: 20px;
  width: 20px;
}
